<nav class="navbar has-shadow is-link">
  <!--logo de la nav-->
  <div class="navbar-brand">
    <a class="navbar-item" href="<%#= home_path %>">
      <img src="https://res.cloudinary.com/dyq41tgzg/image/upload/v1718896525/familychat/familychat_logo_xgbin0.png" alt="familychat logo", style="max-height: 7rem;">
    </a>
    <a class="navbar-burger" id="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <!-- menu de la navbar-->
  <div class="navbar-menu" id="nav-links">
    <div class="navbar-start">
      <% if user_signed_in? %>
        <%= link_to 'Salas', rooms_path, class: "navbar-item" %>
        <%= link_to 'Mi Perfil', edit_user_registration_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>

<script>
  const burgerIcon = document.querySelector('#burger');
  const burgerMenu = document.querySelector('#nav-links');

  burgerIcon.addEventListener('click', () => {
    burgerMenu.classList.toggle('is-active');
  });
</script>